body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h3 {
    color: mistyrose;
    text-align: center;
}

label {
    color: navajowhite;
}

.groceryFormContainer {
    padding-top: 90px;
    padding-left: 100px;
    float: left;
}

.groceryBasket {
    padding-top: 80px;
}
