.navbar {
    background-color: rosybrown;
    height: 65px;
    border-bottom: thick;
}

.navbar-brand {
    margin-top: 1px;
    vertical-align: central;
}

body {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h3 {
    color: mistyrose;
    font-weight: bold;
    text-align: center;
}

label {
    color: mistyrose;
    font-weight: bold;
}

.groceryFormContainer {
    float: left;
}

input[type=number] {
    width: 75px;
    height: 35px;
} 

.btn {
    font-weight: bold;
}

.addBtn {
    margin-top: -20px;
}

.preview {
    color: white;
    font-weight: bold;
    padding-top: 10px;
}

.groceryPrice {
    padding-left: 50px;
}