<!--<nav class="navbar fixed-top">-->
    <!--<a class="navbar-brand" href="#">
        <img src="../navbarLogo.png" width="95" height="55" class="d-inline-block align-top" alt="">
    </a>-->
<!--</nav>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 groceryFormContainer">
            <h3>Grocery List</h3><br />
            <form class="groceryForm">
                <div class="form-group">
                    <label>Item</label>
                    <input ng-model="gvm.data.Item" type="text" class="form-control item" placeholder="Enter your item here" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input ng-model="gvm.data.Comment" type="text" class="form-control comment" placeholder="Enter item's description here" />
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input ng-model="gvm.data.Quantity" type="number" class="form-control quantity" />
                </div><br />
                <button ng-click="gvm.addItemBtn()" type="button" href="#" class="btn btn-sm btn-info addBtn">Add Item</button>
            </form>
            <pre class="preview">{{gvm | json}}</pre>
        </div>

        <div class="col-md-7 groceryBasketContainer">
            <div class="groceryBasket">
                <h3>Basket</h3><br />
                <table class="basketTable">
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Quantity</th>
                    </tr>
                    <tr ng-repeat="item in gvm.itemList track by $index">
                        <td><h6>{{item.Item}}</h6></td>
                        <td><h6>{{item.Comment}}</h6></td>
                        <td><h6>{{item.Quantity}}</h6></td>
                        <td><button ng-click="gvm.deleteItemBtn(item.Id, $index)" type="button" class="btn btn-sm btn-warning removeBtn">Remove</button></td>
                    </tr>
                </table><br />
                <button ng-click="gvm.clearListBtn()" type="button" class="btn btn-sm btn-danger clearBtn">Clear List</button>
            </div>
        </div>
    </div>
</div>